<hr>
<div class="row">
    <div class="col-3">
        <p class="text-center">
            <a href="https://github.com/ferneyvanegas" target="_blank">
                <fa-icon [icon]="faGithub" size="4x"></fa-icon>
            </a>
        </p>
    </div>
    <div class="col-3">
        <p class="text-center text-info">
            <fa-icon [icon]="faGoogle" size="4x"></fa-icon>
        </p>
    </div>
    <div class="col-3">
        <p class="text-center text-primary">
            <a href="https://www.linkedin.com/in/ferney-vanegas-hernandez/" target="_blank">
                <fa-icon [icon]="faLinkedin" size="4x"></fa-icon>
            </a>
        </p>
    </div>
    <div class="col-3">
        <p class="text-center text-success">
            <fa-icon [icon]="faWhatsapp" size="4x"></fa-icon>
        </p>
    </div>
</div>
