<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a [routerLink]="'profile'" class="btn btn-primary nav-link p-3 mb-3" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <small>
          PERFIL
        </small>
      </a>

      <a [routerLink]="'soft-skills'" class="btn btn-primary nav-link p-3 mb-3" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <small>
          HABILIDADES BLANDAS
        </small>
      </a>

      <a [routerLink]="'tech-skills'" class="btn btn-primary nav-link p-3 mb-3" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <small>
          HABILIDADES TÉCNICAS
        </small>
      </a>

      <a [routerLink]="'education'" class="btn btn-primary nav-link p-3 mb-3" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <small>
          EDUCACIÓN
        </small>
      </a>

      <a [routerLink]="'w-experience'" class="btn btn-primary nav-link p-3 mb-3" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <small>
          EXPERIENCIA LABORAL
        </small>
      </a>

    </div>


</div>
  