<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <!-- Nombre del Programador -->
      <div>
        <p class="h4 m-0 text-info">
          <a [routerLink]="'landing'" class="btn btn-info text-light rounded-circle">
            <fa-icon [icon]="faUser" size="2x"></fa-icon>
          </a>
          Ferney Vanegas Hernández
          </p>
    
          <p class="m-0">
            Ingeniero de Sistemas - Programador
          </p>

          <p class="m-0">
            <small>Tarjeta Profesional 33371-900200 XDD</small>
          </p>
      </div>

      <!-- Frase -->
      <div>
        <p>
            <small>
                <em>
                    "Mi filosofía siempre ha sido ser el mejor, no ser el primero"
                </em>
            </small>
        </p>
        <p class="text-end">
            <small>
                <strong>Tim Cook</strong>
            </small>
        </p>
      </div>

    </div>
</nav>