<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <p class="text-center m-3 text-info">
            <fa-icon [icon]="faBrain" size="5x"></fa-icon>
        </p>
        <div class="card-body">
          <h5 class="card-title text-center">Pensamiento estratégico</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <p class="text-center m-3 text-info">
            <fa-icon [icon]="faUsers" size="5x"></fa-icon>
        </p>
        <div class="card-body">
          <h5 class="card-title text-center">Liderazgo</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <p class="text-center m-3 text-info">
            <fa-icon [icon]="faVolumeHigh" size="5x"></fa-icon>
        </p>
        <div class="card-body">
          <h5 class="card-title text-center">Comunicación interpersonal</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <p class="text-center m-3 text-info">
            <fa-icon [icon]="faHandshake" size="5x"></fa-icon>
        </p>
        <div class="card-body">
          <h5 class="card-title text-center">Trabajo en equipo</h5>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <p class="text-center m-3 text-info">
                <fa-icon [icon]="faUserGraduate" size="5x"></fa-icon>
            </p>
          <div class="card-body">
            <h5 class="card-title text-center">Rápido aprendizaje</h5>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <p class="text-center m-3 text-info">
                <fa-icon [icon]="faBook" size="5x"></fa-icon>
            </p>
          <div class="card-body">
            <h5 class="card-title text-center">Autodidacta</h5>
          </div>
        </div>
    </div>
  </div>