<p class="h3 mt-3 mb-3 text-info">
    Perfil
</p>
<p style="font-size: 20px;" class="">
    Ingeniero de Sistemas, Programador, Director de Tecnología y Formador de personal técnico, con más de 18 años de experiencia en I.T. Desarrollador de software web y escritorio. Analista. Trabajo en equipo.
    Implementador de mesas de ayuda. Manejo de personal. Soporte comercial preventa/postventa. Capacitador. Facilidad para el manejo de auditorios. Apasionado por la tecnología, empático, proactivo, resiliente,
    con buen sentido del humor.
</p>
